mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mixin box-size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#mixin transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mixin opacity {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

body {
  background: rgb(76, 81, 224);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(232, 230, 208);
  height: 100%;
  text-align: center;
  font-size: 18px;
}

.wrappper {
  width: 100%;
  margin: 0 auto;
}

canvas {
  color: rgb(214, 213, 201);
  border: rgb(214, 213, 201) 2px;
  padding: 15px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.6em;
}

p {
  font-size: 1.6em;
}

#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  background: rgb(239, 238, 222);
  color: rgb(102, 100, 73);
  cursor: pointer;
  border: solid 1px rgb(232, 231, 213);
  background: rgb(107, 107, 75);
  border: solid 1px rgb(35, 35, 31);
  color: rgb(20, 19, 6);
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6em;
}

.active {
  cursor: default;
}

#mylives {
  font-size: 1.6em;
  text-align: center;
  display: block;
}

button {
  background: rgb(20, 22, 34);
  color: rgb(187, 193, 228);
  border: solid 1px rgb(32, 33, 37);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}

@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}
